.register-class-wrapper{
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
    margin: 9px;
    font-family: 'Poppins', sans-serif;
}

.register-title{
    font-size: 2vw;
}

.register-title-wrapper{
    width: 100%;
    height: 20%;
    overflow: auto;
}